@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
@font-face {
  font-family: Impact;
  src: url("./impact.ttf");
}
/* Style Reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 132, 255, 0.1);
}

body._lock {
  overflow: hidden;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 5px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 7px;
}

h3 {
  font-size: 18px;
  letter-spacing: 5px;
  font-weight: 700;
}

p {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  vertical-align: middle;
}

input[type=text] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: button;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=text] {
  padding: 2px 6px;
  font: inherit;
  color: inherit;
}

input:focus {
  border: none;
  outline: none;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #acacac;
}
.main-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #1c1c1c, #010101);
}
.main-head-logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 60px;
}
@media screen and (max-width: 425px) {
  .main-head-logo {
    padding-top: 30px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-head-logo {
    padding-top: 40px;
  }
}
.main-head-logo img {
  width: 284px;
  height: 60px;
}
.main-container {
  width: 100%;
  max-width: 962px;
  margin: 0 auto;
}
@media screen and (max-width: 425px) {
  .main-container {
    padding: 0px 10px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-container {
    padding: 0px 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    padding: 0px 20px;
  }
}
.main-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 425px) {
  .main-flex {
    flex-direction: column;
    padding: 40px 0px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-flex {
    flex-direction: column;
    padding: 40px 0px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-flex {
    flex-direction: column;
    padding: 40px 0px;
  }
}
.main-frbody {
  width: 100%;
  display: flex;
  background: linear-gradient(to top, #031a3c, #245b9e);
}
.main-frbody-tx-text {
  font-family: "Impact";
  padding-bottom: 20px;
  font-size: 35px;
  color: white;
  text-align: left;
  letter-spacing: 1px;
  -webkit-line-clamp: 3;
}
@media screen and (max-width: 425px) {
  .main-frbody-tx-text {
    font-size: 25px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-frbody-tx-text {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-frbody-tx-text {
    font-size: 35px;
  }
}
.main-frbody-tx-line {
  border: 1px solid #fff;
  opacity: 20%;
}
.main-frbody-tx-text_little {
  padding-top: 15px;
  font-size: 20px;
  color: #fff;
  font-family: "Hind Siliguri", sans-serif;
}
@media screen and (max-width: 425px) {
  .main-frbody-tx-text_little {
    font-size: 12px;
    padding-bottom: 40px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-frbody-tx-text_little {
    font-size: 16px;
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-frbody-tx-text_little {
    font-size: 18px;
    padding-bottom: 40px;
  }
}
.main-frbody-video img {
  border: 6px solid #fff;
  width: 415px;
  height: 230px;
}
@media screen and (max-width: 425px) {
  .main-frbody-video img {
    width: 270px;
    height: 150px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-frbody-video img {
    width: 360px;
    height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-frbody-video img {
    width: 390px;
    height: 215px;
  }
}
.main-frfooter {
  font-family: "Hind Siliguri", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  background: #e8e8e8;
}
.main-frfooter-text {
  text-align: left;
  font-size: 18px;
}
@media screen and (max-width: 425px) {
  .main-frfooter-text {
    font-size: 14px;
    text-align: center;
    padding-bottom: 40px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-frfooter-text {
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-frfooter-text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 40px;
  }
}
.main-frfooter-button {
  display: flex;
  justify-content: flex-end;
}
.main-frfooter-button img {
  width: 360px;
  height: 60px;
}
@media screen and (max-width: 425px) {
  .main-frfooter-button img {
    width: 300px;
    height: 50px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-frfooter-button img {
    width: 330px;
    height: 55px;
  }
}
.main-scfooter {
  font-family: "Hind Siliguri", sans-serif;
  background: #e8e8e8;
  display: flex;
  width: 100%;
  box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.5);
}
.main-scfooter-blocks {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 425px) {
  .main-scfooter-blocks {
    flex-direction: column;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-scfooter-blocks {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-scfooter-blocks {
    flex-direction: column;
  }
}
.main-scfooter div:last-child {
  border-right: 0px;
}
.main-scfooter-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-right: 1px solid rgb(214, 214, 214);
}
@media screen and (max-width: 425px) {
  .main-scfooter-block {
    border-right: 0px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-scfooter-block {
    border-right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-scfooter-block {
    border-right: 0px;
  }
}
.main-scfooter-block-img img {
  width: 64px;
  height: 46px;
}
.main-scfooter-block-maintext {
  font-family: "Arial";
  font-weight: bold;
  font-size: 18px;
}
.main-scfooter-block-text {
  font-family: "Arial";
  font-weight: bold;
  font-size: 13px;
  text-align: center;
}
.main-scbody {
  width: 100%;
  font-family: "Hind Siliguri", sans-serif;
}
.main-scbody-content {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  background-color: #fff;
  box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.2);
}
.main-scbody-maintext_1 {
  font-family: "Arial";
  font-weight: bold;
  font-size: 33px;
  color: #bc0000;
  padding: 50px 150px 25px 150px;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .main-scbody-maintext_1 {
    padding: 25px 0px;
    font-size: 23px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-scbody-maintext_1 {
    padding: 20px 0px;
    font-size: 28px;
  }
}
.main-scbody-maintext_2 {
  font-family: "Arial";
  font-weight: bold;
  color: #6b7681;
  font-size: 20px;
  text-align: center;
  padding-bottom: 50px;
}
@media screen and (max-width: 425px) {
  .main-scbody-maintext_2 {
    font-size: 15px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-scbody-maintext_2 {
    text-align: justify;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-scbody-maintext_2 {
    text-align: justify;
  }
}
.main-scbody-maintext {
  font-family: "Arial";
  font-weight: 400px;
  font-size: 14px;
  text-align: left;
  padding-bottom: 30px;
  line-height: 20px;
}
@media screen and (max-width: 425px) {
  .main-scbody-maintext {
    text-align: justify;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-scbody-maintext {
    text-align: justify;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .main-scbody-maintext {
    text-align: justify;
  }
}
.main-scbody-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 30px;
  text-align: left;
}
.main-scbody-label {
  padding-left: 20px;
}
@media screen and (max-width: 425px) {
  .main-scbody-label {
    padding-left: 10px;
    text-align: justify;
    padding-bottom: 10px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-scbody-label {
    padding-left: 10px;
    text-align: justify;
    padding-bottom: 10px;
  }
}
.main-scbody-labelInput {
  display: flex;
  align-items: center;
}
.main-scbody input[name=box] {
  float: left;
  padding-top: 20px;
}
.main-scbody-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}
.main-scbody-button img {
  width: 600px;
  height: 100px;
}
@media screen and (max-width: 425px) {
  .main-scbody-button img {
    width: 300px;
    height: 50px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-scbody-button img {
    width: 400px;
    height: 60px;
  }
}
.main-scbody-buttonContent {
  display: flex;
  flex-direction: column;
}
.main-scbody-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 425px) {
  .main-scbody-cards {
    flex-wrap: wrap;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-scbody-cards {
    margin-bottom: 20px;
  }
}
.main-scbody-cards img {
  width: 60px;
  height: 40px;
  margin: 10px;
}
@media screen and (max-width: 425px) {
  .main-scbody-cards img {
    margin-right: 15px;
  }
}
.main-scbody-share {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 45px;
}
@media screen and (max-width: 425px) {
  .main-scbody-share {
    flex-direction: column;
  }
}
.main-scbody-share img {
  width: 300px;
  height: 70px;
}
.main-scbody-lasttx {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0px;
  color: #acacac;
  background-color: #fff;
  text-align: center;
  box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 425px) {
  .main-scbody-lasttx {
    padding: 30px;
  }
}
.main-footer {
  text-align: center;
  padding-top: 40px;
  font-size: 14px;
  line-height: 30px;
  width: 100%;
  box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 425px) {
  .main-footer {
    padding-top: 20px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-footer {
    padding: 30px;
  }
}
.main-footer-content {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 425px) {
  .main-footer-content span {
    font-size: 10px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  .main-footer-content span {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */