@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@font-face {
    font-family: Impact;
    src: url('./impact.ttf');
}
/* Style Reset */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 14px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 132, 255, 0.1);
}

body._lock {
    overflow: hidden;
}

ul,
ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 5px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 7px;
}

h3 {
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 700;
}

p {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input {
    vertical-align: middle;
}
input[type='text'] {
    -webkit-appearance: none;
}
button {
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: button;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type='text'] {
    padding: 2px 6px;
    font: inherit;
    color: inherit;
}
input:focus {
    border: none;
    outline: none;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #acacac;
    &-head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        background: linear-gradient(to bottom, #1c1c1c, #010101);
        &-logo {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-top: 60px;
            @media screen and (max-width: 425px) {
                padding-top: 30px;
            }
            @media (min-width: 426px) and (max-width: 767px) {
                padding-top: 40px;
            }
            img {
                width: 284px;
                height: 60px;
            }
        }
    }
    &-container {
        width: 100%;
        max-width: 962px;
        margin: 0 auto;
        @media screen and (max-width: 425px) {
            padding: 0px 10px;
        }
        @media (min-width: 426px) and (max-width: 767px) {
            padding: 0px 10px;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            padding: 0px 20px;
        }
    }
    &-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 425px) {
            flex-direction: column;
            padding: 40px 0px;
        }
        @media (min-width: 426px) and (max-width: 767px) {
            flex-direction: column;
            padding: 40px 0px;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            flex-direction: column;
            padding: 40px 0px;
        }
    }
    &-frbody {
        width: 100%;
        display: flex;
        background: linear-gradient(to top, #031a3c, #245b9e);
        &-tx {
            &-text {
                font-family: 'Impact';
                padding-bottom: 20px;
                font-size: 35px;
                color: white;
                text-align: left;
                letter-spacing: 1px;
                -webkit-line-clamp: 3;
                @media screen and (max-width: 425px) {
                    font-size: 25px;
                }
                @media (min-width: 426px) and (max-width: 767px) {
                    font-size: 25px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 35px;
                }
            }
            &-line {
                border: 1px solid #fff;
                opacity: 20%;
            }
            &-text_little {
                padding-top: 15px;
                font-size: 20px;
                color: #fff;
                font-family: 'Hind Siliguri', sans-serif;
                @media screen and (max-width: 425px) {
                    font-size: 12px;
                    padding-bottom: 40px;
                }
                @media (min-width: 426px) and (max-width: 767px) {
                    font-size: 16px;
                    padding-bottom: 40px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    font-size: 18px;
                    padding-bottom: 40px;
                }
            }
        }
        &-video {
            img {
                border: 6px solid #fff;
                width: 415px;
                height: 230px;
                @media screen and (max-width: 425px) {
                    width: 270px;
                    height: 150px;
                }
                @media (min-width: 426px) and (max-width: 767px) {
                    width: 360px;
                    height: 200px;
                }
                @media (min-width: 768px) and (max-width: 1023px) {
                    width: 390px;
                    height: 215px;
                }
            }
        }
    }
    &-frfooter {
        font-family: 'Hind Siliguri', sans-serif;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0px;
        background: #e8e8e8;
        &-text {
            text-align: left;
            font-size: 18px;
            @media screen and (max-width: 425px) {
                font-size: 14px;
                text-align: center;
                padding-bottom: 40px;
            }
            @media (min-width: 426px) and (max-width: 767px) {
                font-size: 16px;
                text-align: center;
                padding-bottom: 40px;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                font-size: 18px;
                text-align: center;
                padding-bottom: 40px;
            }
        }
        &-button {
            display: flex;
            justify-content: flex-end;
            img {
                width: 360px;
                height: 60px;
                @media screen and (max-width: 425px) {
                    width: 300px;
                    height: 50px;
                }
                @media (min-width: 426px) and (max-width: 767px) {
                    width: 330px;
                    height: 55px;
                }
            }
        }
    }
    &-scfooter {
        font-family: 'Hind Siliguri', sans-serif;
        background: #e8e8e8;
        display: flex;
        width: 100%;
        box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.5);

        &-blocks {
            display: flex;
            align-items: center;
            justify-content: center;
            @media screen and (max-width: 425px) {
                flex-direction: column;
            }
            @media (min-width: 426px) and (max-width: 767px) {
                flex-direction: column;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                flex-direction: column;
            }
        }
        & div:last-child {
            border-right: 0px;
        }
        &-block {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-right: 1px solid rgb(214, 214, 214);
            @media screen and (max-width: 425px) {
                border-right: 0px;
            }

            @media (min-width: 426px) and (max-width: 767px) {
                border-right: 0px;
            }

            @media (min-width: 768px) and (max-width: 1023px) {
                border-right: 0px;
            }

            &-img {
                img {
                    width: 64px;
                    height: 46px;
                }
            }
            &-maintext {
                font-family: 'Arial';
                font-weight: bold;
                font-size: 18px;
            }
            &-text {
                font-family: 'Arial';
                font-weight: bold;
                font-size: 13px;
                text-align: center;
            }
        }
    }
    &-scbody {
        width: 100%;
        font-family: 'Hind Siliguri', sans-serif;

        &-content {
            display: flex;
            flex-direction: column;
            padding: 0px 20px;
            background-color: #fff;
            box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.2);
        }
        &-maintext_1 {
            font-family: 'Arial';
            font-weight: bold;
            font-size: 33px;
            color: #bc0000;
            padding: 50px 150px 25px 150px;
            text-align: center;
            @media screen and (max-width: 425px) {
                padding: 25px 0px;
                font-size: 23px;
            }
            @media (min-width: 426px) and (max-width: 767px) {
                padding: 20px 0px;
                font-size: 28px;
            }
        }
        &-maintext_2 {
            font-family: 'Arial';
            font-weight: bold;
            color: #6b7681;
            font-size: 20px;
            text-align: center;
            padding-bottom: 50px;
            @media screen and (max-width: 425px) {
                font-size: 15px;
            }
            @media (min-width: 426px) and (max-width: 767px) {
                text-align: justify;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                text-align: justify;
            }
        }
        &-maintext {
            font-family: 'Arial';
            font-weight: 400px;
            font-size: 14px;
            text-align: left;
            padding-bottom: 30px;
            line-height: 20px;
            @media screen and (max-width: 425px) {
                text-align: justify;
            }
            @media (min-width: 426px) and (max-width: 767px) {
                text-align: justify;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
                text-align: justify;
            }
        }

        &-input {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 30px;
            text-align: left;
        }
        &-label {
            padding-left: 20px;
            @media screen and (max-width: 425px) {
                padding-left: 10px;
                text-align: justify;
                padding-bottom: 10px;
            }
            @media (min-width: 426px) and (max-width: 767px) {
                padding-left: 10px;
                text-align: justify;
                padding-bottom: 10px;
            }
        }
        &-labelInput {
            display: flex;
            align-items: center;
        }

        input[name='box'] {
            float: left;
            padding-top: 20px;
        }
        &-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0px;
            img {
                width: 600px;
                height: 100px;
                @media screen and (max-width: 425px) {
                    width: 300px;
                    height: 50px;
                }
                @media (min-width: 426px) and (max-width: 767px) {
                    width: 400px;
                    height: 60px;
                }
            }
        }
        &-buttonContent {
            display: flex;
            flex-direction: column;
        }
        &-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            @media screen and (max-width: 425px) {
                flex-wrap: wrap;
            }
            @media (min-width: 426px) and (max-width: 767px) {
                margin-bottom: 20px;
            }
            img {
                width: 60px;
                height: 40px;
                margin: 10px;
                @media screen and (max-width: 425px) {
                    margin-right: 15px;
                }
            }
        }
        &-share {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 45px;
            @media screen and (max-width: 425px) {
                flex-direction: column;
            }
            img {
                width: 300px;
                height: 70px;
            }
        }
        &-lasttx {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px 0px;
            color: #acacac;
            background-color: #fff;
            text-align: center;
            box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.5);
            @media screen and (max-width: 425px) {
                padding: 30px;
            }
        }
    }
    &-footer {
        text-align: center;
        padding-top: 40px;
        font-size: 14px;
        line-height: 30px;
        width: 100%;
        box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.1);
        @media screen and (max-width: 425px) {
            padding-top: 20px;
        }
        @media (min-width: 426px) and (max-width: 767px) {
            padding: 30px;
        }
        &-content {
            display: flex;
            flex-direction: column;
            & span {
                @media screen and (max-width: 425px) {
                    font-size: 10px;
                }
                @media (min-width: 426px) and (max-width: 767px) {
                    font-size: 12px;
                }
            }
        }
    }
}
